/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
canvas {
    background-color: #333;
    display: block;
}
  #game-container {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }

  /* Remove underline from the anchor tag */
#options-link, #options-link:visited, #options-link:hover, #options-link:active {
  text-decoration: none;
}

/* If you want to remove the underline when hovering as well */
#options-link:hover {
  text-decoration: none;
}

  button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .quit-style {
    color: yellow;
    position: fixed;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
  }
  #quit {
    color: yellow;
    position: fixed;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
  }

  

  #back-to-main {
    position: fixed;
    bottom: 20px;
    left: 20px;
    text-decoration: none;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }
  
  .modal button {
    width: 100px;
  }
  
  .modal p {
    margin-bottom: 20px;
  }
  